---
layout: base
title: Home
permalink: '/'
heading: Welcome
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        Ello' mate
    </p>
    <p>Steven Jacobs is an Italian Studies PhD student at Rutgers University</p>
</article>
